# Elements Of Data Processing - Week 2

# DataFrames

DataFrames represents tabular data structure and can contain multiple rows and columns.  They can be thought of as a dictionary of Series objects, and are one of the most important data structures you will use to store and manipulate information in data science.

A DataFrame has both row and column indices.

The Pandas DataFrame structure contains many useful methods to aid your analysis.  Recall from week 1 the [API reference](https://pandas.pydata.org/pandas-docs/stable/reference/index.html) is available which details all of the functionality provided by pandas.  You will particularly need con consult the [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) reference page.


<img src="images/DF.jpg">

In [1]:
# as before, begin by importing the pandas library
import pandas as pd
import numpy as npy

In [2]:
# create a new series of the population
Aus_Population = {'1990':17065100, '2000':19153000, '2007':20827600,
                 '2008':21249200,'2009':21691700,'2010':22031750,
                 '2011':22340024, '2012':22728254, '2013':23117353}
population = pd.Series(Aus_Population)

In [3]:
# we will reuse the emissions data from last week
Aus_Emission = {'1990':15.45288167, '2000':17.20060983, '2007':17.86526004,
                '2008':18.16087566,'2009':18.20018196,'2010':16.92095367,
                '2011':16.86260095, '2012':16.51938578, '2013':16.34730205}

co2_Emission = pd.Series(Aus_Emission)

In [4]:
# verify the values in the series
population

1990    17065100
2000    19153000
2007    20827600
2008    21249200
2009    21691700
2010    22031750
2011    22340024
2012    22728254
2013    23117353
dtype: int64

In [5]:
# create a DataFrame object from the series objects
australia = pd.DataFrame({'co2_emission':co2_Emission, 'Population':population})
australia

      co2_emission  Population
1990     15.452882    17065100
2000     17.200610    19153000
2007     17.865260    20827600
2008     18.160876    21249200
2009     18.200182    21691700
2010     16.920954    22031750
2011     16.862601    22340024
2012     16.519386    22728254
2013     16.347302    23117353

In [6]:
# create a DataFrame from a csv file
countries = pd.read_csv('countries.csv',encoding = 'ISO-8859-1')

In [7]:
# check the top 10 countries in the DataFrame
countries.head(10) # the default value is set to 5

               Country                      Region          IncomeGroup
0          Afghanistan                  South Asia           Low income
1              Albania       Europe & Central Asia  Upper middle income
2              Algeria  Middle East & North Africa  Upper middle income
3       American Samoa         East Asia & Pacific  Upper middle income
4              Andorra       Europe & Central Asia          High income
5               Angola          Sub-Saharan Africa  Upper middle income
6  Antigua and Barbuda   Latin America & Caribbean          High income
7            Argentina   Latin America & Caribbean  Upper middle income
8              Armenia       Europe & Central Asia  Lower middle income
9                Aruba   Latin America & Caribbean          High income

In [8]:
# count the number of countries in each region
countries.Region.value_counts()

Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: Region, dtype: int64

In [9]:
# set the name of countries as the index
countries.set_index('Country')

                                              Region          IncomeGroup
Country
Afghanistan                               South Asia           Low income
Albania                        Europe & Central Asia  Upper middle income
Algeria                   Middle East & North Africa  Upper middle income
American Samoa                   East Asia & Pacific  Upper middle income
Andorra                        Europe & Central Asia          High income
Angola                            Sub-Saharan Africa  Upper middle income
Antigua and Barbuda        Latin America & Caribbean          High income
Argentina                  Latin America & Caribbean  Upper middle income
Armenia                        Europe & Central Asia  Lower middle income
Aruba                      Latin America & Caribbean          High income
Australia                        East Asia & Pacific          High income
Austria                        Europe & Central Asia          High income
Azerbaijan                     Europe & Central Asia  Upper middle income
Bahamas, The               Latin America & Caribbean          High income
Bahrain                   Middle East & North Africa          High income
Bangladesh                                South Asia  Lower middle income
Barbados                   Latin America & Caribbean          High income
Belarus                        Europe & Central Asia  Upper middle income
Belgium                        Europe & Central Asia          High income
Belize                     Latin America & Caribbean  Upper middle income
Benin                             Sub-Saharan Africa           Low income
Bermuda                                North America          High income
Bhutan                                    South Asia  Lower middle income
Bolivia                    Latin America & Caribbean  Lower middle income
Bosnia and Herzegovina         Europe & Central Asia  Upper middle income
Botswana                          Sub-Saharan Africa  Upper middle income
Brazil                     Latin America & Caribbean  Upper middle income
British Virgin Islands     Latin America & Caribbean          High income
Brunei Darussalam                East Asia & Pacific          High income
Bulgaria                       Europe & Central Asia  Upper middle income
...                                              ...                  ...
Sweden                         Europe & Central Asia          High income
Switzerland                    Europe & Central Asia          High income
Syrian Arab Republic      Middle East & North Africa  Lower middle income
Tajikistan                     Europe & Central Asia  Lower middle income
Tanzania                          Sub-Saharan Africa           Low income
Thailand                         East Asia & Pacific  Upper middle income
Timor-Leste                      East Asia & Pacific  Lower middle income
Togo                              Sub-Saharan Africa           Low income
Tonga                            East Asia & Pacific  Lower middle income
Trinidad and Tobago        Latin America & Caribbean          High income
Tunisia                   Middle East & North Africa  Lower middle income
Turkey                         Europe & Central Asia  Upper middle income
Turkmenistan                   Europe & Central Asia  Upper middle income
Turks and Caicos Islands   Latin America & Caribbean          High income
Tuvalu                           East Asia & Pacific  Upper middle income
Uganda                            Sub-Saharan Africa           Low income
Ukraine                        Europe & Central Asia  Lower middle income
United Arab Emirates      Middle East & North Africa          High income
United Kingdom                 Europe & Central Asia          High income
United States                          North America          High income
Uruguay                    Latin America & Caribbean          High income
Uzbekistan                     Europe & Central Asia  Lower middle income
Vanuatu                          East Asia & Pacific  Lower middle income
Venezuela, RB              Latin America & Caribbean  Upper middle income
Vietnam                          East Asia & Pacific  Lower middle income
Virgin Islands (U.S.)      Latin America & Caribbean          High income
West Bank and Gaza        Middle East & North Africa  Lower middle income
Yemen, Rep.               Middle East & North Africa  Lower middle income
Zambia                            Sub-Saharan Africa  Lower middle income
Zimbabwe                          Sub-Saharan Africa           Low income

[217 rows x 2 columns]

In [10]:
# create a new DataFrame for the CO2 emission from a csv file
emission = pd.read_csv('emission.csv',encoding = 'ISO-8859-1')
emission.head()

,Country,1990,2000,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,0.216661,0.039272,0.087858,0.158962,0.249074,0.302936,0.425262,0.688084,0.693183,NaN,NaN,NaN
1,Albania,1.615624,0.978175,1.322335,1.484311,1.495600,1.578574,1.803972,1.624722,1.662185,NaN,NaN,NaN
2,Algeria,3.007911,2.819778,3.195865,3.168524,3.430129,3.307164,3.300558,3.471950,3.514780,NaN,NaN,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,8.018181,6.350868,6.296125,6.049173,6.124770,5.968685,6.195194,6.473848,NaN,NaN,NaN

In [11]:
# Create a subset of emission dataset for Year 2010
yr2010 = emission['2010']
names  = emission['Country']
yr2010.index = names
type(yr2010)

pandas.core.series.Series

In [12]:
# Sort column values using sort_values 
yr2010.sort_values()

Country
Burundi                       0.022480
Congo, Dem. Rep.              0.030197
Chad                          0.043463
Rwanda                        0.057354
Central African Republic      0.059398
Mali                          0.063586
Somalia                       0.063912
Niger                         0.072026
Ethiopia                      0.075215
Malawi                        0.080690
Madagascar                    0.092895
Eritrea                       0.109471
Mozambique                    0.112476
Uganda                        0.118253
Burkina Faso                  0.125501
Sierra Leone                  0.125706
Guinea-Bissau                 0.145855
Tanzania                      0.155682
Comoros                       0.183692
Nepal                         0.188153
Zambia                        0.194713
Liberia                       0.201046
Haiti                         0.212694
Timor-Leste                   0.220073
Guinea                        0.236422
Myanmar                       0.241924
Lao PDR                       0.261822
Gambia, The                   0.279411
Kenya                         0.301883
Afghanistan                   0.302936
                               ...
Canada                       14.485639
Kazakhstan                   15.110081
Gibraltar                    15.153879
Australia                    16.920954
Oman                         17.112061
United States                17.484803
Saudi Arabia                 18.531173
United Arab Emirates         19.306504
Brunei Darussalam            20.856947
Luxembourg                   21.635136
Bahrain                      23.101200
Aruba                        24.182702
Kuwait                       29.294309
Trinidad and Tobago          36.073741
Qatar                        41.131162
American Samoa                     NaN
Channel Islands                    NaN
Curacao                            NaN
Guam                               NaN
Isle of Man                        NaN
Kosovo                             NaN
Monaco                             NaN
Northern Mariana Islands           NaN
Puerto Rico                        NaN
San Marino                         NaN
Sint Maarten (Dutch part)          NaN
South Sudan                        NaN
St. Martin (French part)           NaN
Tuvalu                             NaN
Virgin Islands (U.S.)              NaN
Name: 2010, Length: 217, dtype: float64

In [13]:
#Sort column values to find the top countries
yr2010.sort_values(ascending = False)

Country
Qatar                        41.131162
Trinidad and Tobago          36.073741
Kuwait                       29.294309
Aruba                        24.182702
Bahrain                      23.101200
Luxembourg                   21.635136
Brunei Darussalam            20.856947
United Arab Emirates         19.306504
Saudi Arabia                 18.531173
United States                17.484803
Oman                         17.112061
Australia                    16.920954
Gibraltar                    15.153879
Kazakhstan                   15.110081
Canada                       14.485639
New Caledonia                14.169288
Estonia                      13.599689
Faroe Islands                12.986678
Norway                       12.294955
Russian Federation           11.725820
Greenland                    11.663773
Finland                      11.543147
Korea, Rep.                  11.469587
Turkmenistan                 11.362475
Netherlands                  10.932543
Czech Republic               10.652579
Palau                        10.569272
Cayman Islands               10.173449
Belgium                       9.889429
Libya                         9.791235
                               ...
Burkina Faso                  0.125501
Uganda                        0.118253
Mozambique                    0.112476
Eritrea                       0.109471
Madagascar                    0.092895
Malawi                        0.080690
Ethiopia                      0.075215
Niger                         0.072026
Somalia                       0.063912
Mali                          0.063586
Central African Republic      0.059398
Rwanda                        0.057354
Chad                          0.043463
Congo, Dem. Rep.              0.030197
Burundi                       0.022480
American Samoa                     NaN
Channel Islands                    NaN
Curacao                            NaN
Guam                               NaN
Isle of Man                        NaN
Kosovo                             NaN
Monaco                             NaN
Northern Mariana Islands           NaN
Puerto Rico                        NaN
San Marino                         NaN
Sint Maarten (Dutch part)          NaN
South Sudan                        NaN
St. Martin (French part)           NaN
Tuvalu                             NaN
Virgin Islands (U.S.)              NaN
Name: 2010, Length: 217, dtype: float64

### Exercise 1

- Retrieve the mean, median of CO2 emission generated in 2012 by all countries.
- Retrieve the top 5 countries with the most CO2 emission in 2012. How about the 5 countries with the least emission? (remember that sort_values has an **ascending** parameter that is set to True by default).
- Retrieve the sum of CO2 emission for all years and find the 2 years with the maximum CO2 emission.

In [14]:
yr2012 = emission['2012']
yr2012.index = names
yr2012.mean()
yr2012.median()
top5_2012 = yr2012.sort_values(ascending = False).iloc[:5,]
#top5_2012 = yr2012.sort_values(ascending = False).head(5)
top5_2012
noNan2012 = yr2012[~npy.isnan(yr2012)]
#noNan2012
lowest5_2012 = noNan2012.sort_values().head(5)
lowest5_2012
emission.sum()[1:].sort_values().tail(2)
#emission
#sumCO2.sort_values(ascending = False).head(2)
#top2 = sumCO2.sort_values().tail(2)

2007    1025.98
2012    1052.94
dtype: object

# More Sort Operations
Pandas allows you to sort your DataFrame by rows/columns as follows:

In [15]:
# Sort column values of a DataFrame
sorted2012 = emission.sort_values( by = '2012',ascending = False )
sorted2012

,Country,1990,2000,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
158,Qatar,24.712027,58.522169,53.672746,46.684906,43.504331,41.131162,42.213752,46.697477,40.462355,NaN,NaN,NaN
50,Curacao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.638551,34.161635,NaN,NaN,NaN
196,Trinidad and Tobago,13.879875,18.844281,36.816763,35.455298,33.952984,36.073741,35.137310,33.819694,34.520237,NaN,NaN,NaN
105,Kuwait,23.466084,27.759023,29.636849,30.581264,30.300789,29.294309,28.102662,29.578729,27.258964,NaN,NaN,NaN
28,Brunei Darussalam,24.105188,14.255144,22.474463,23.950011,20.311171,20.856947,24.272670,23.800884,18.918736,NaN,NaN,NaN
14,Bahrain,25.058198,27.956644,26.001291,26.538479,22.815070,23.101200,22.484702,21.810997,23.682574,NaN,NaN,NaN
171,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.489636,20.835796,NaN,NaN,NaN
115,Luxembourg,26.197659,18.885512,22.957283,22.385472,20.877125,21.635136,21.102970,20.084219,18.700782,NaN,NaN,NaN
204,United Arab Emirates,28.711160,36.904101,22.566623,22.804551,21.797583,19.306504,18.270092,19.252223,18.708236,NaN,NaN,NaN
165,Saudi Arabia,13.320831,13.880494,14.866777,16.085642,17.102371,18.531173,17.393401,19.188937,17.927485,NaN,NaN,NaN
147,Oman,6.283132,9.777453,16.846640,16.101568,15.963375,17.112061,17.512479,16.699720,15.660423,NaN,NaN,NaN
10,Australia,15.452882,17.200610,17.865260,18.160876,18.200182,16.920954,16.862601,16.519386,16.347302,NaN,NaN,NaN
206,United States,19.323368,20.207615,19.237460,18.489234,17.192367,17.484803,17.019439,16.287053,16.389758,NaN,NaN,NaN
74,Gibraltar,5.329743,12.200541,13.919080,14.137127,15.195251,15.153879,14.636367,14.713776,15.491110,NaN,NaN,NaN
99,Kazakhstan,NaN,7.934854,14.359712,11.879265,10.309399,15.110081,15.650630,14.574160,15.432794,NaN,NaN,NaN
140,New Caledonia,9.269475,10.473212,12.372273,11.849562,12.138518,14.169288,14.364823,14.016718,14.681943,NaN,NaN,NaN
35,Canada,15.659070,17.370452,16.446455,16.215164,14.837315,14.485639,14.481342,13.858455,13.532295,NaN,NaN,NaN
62,Estonia,NaN,10.636252,13.954884,13.081834,10.914320,13.599689,14.016733,13.324000,15.110411,NaN,NaN,NaN
160,Russian Federation,NaN,10.627121,11.672457,12.014507,11.023856,11.725820,12.367534,12.818345,12.466816,NaN,NaN,NaN
9,Aruba,27.850035,25.547679,25.613715,24.750133,24.876706,24.182702,23.922412,12.713613,8.515395,NaN,NaN,NaN
199,Turkmenistan,NaN,8.339388,11.535622,11.556826,10.110661,11.362475,12.256911,12.564208,12.765704,NaN,NaN,NaN
64,Faroe Islands,12.826216,14.828590,14.185395,12.970121,11.842902,12.986678,11.721212,12.199843,12.301292,NaN,NaN,NaN
103,"Korea, Rep.",5.760374,9.520932,10.199582,10.369833,10.346506,11.469587,11.840241,11.680558,11.798150,NaN,NaN,NaN
131,Mongolia,4.573372,3.130988,4.653094,4.578057,4.907974,9.090930,9.997258,11.653855,14.546549,NaN,NaN,NaN
149,Palau,15.553582,5.928706,10.389651,10.333663,10.274233,10.569272,10.855430,10.776980,10.693006,NaN,NaN,NaN
170,Singapore,15.405065,12.166624,4.342606,7.466762,7.422120,8.656224,7.393864,10.282908,9.363847,NaN,NaN,NaN
139,Netherlands,10.594475,10.383090,10.468447,10.541492,10.234971,10.932543,10.327657,10.109168,10.114759,NaN,NaN,NaN
76,Greenland,9.958939,9.461121,11.282079,11.718151,10.221739,11.663773,12.440341,10.005017,10.062939,NaN,NaN,NaN
146,Norway,7.429148,8.834016,9.574850,11.679583,11.461829,12.294955,9.124767,9.940980,11.740324,NaN,NaN,NaN
97,Japan,8.873293,9.622352,9.782964,9.449534,8.619442,9.150005,9.318429,9.639072,9.764393,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Sierra Leone,0.124061,0.104753,0.119034,0.120200,0.115584,0.125706,0.152044,0.170511,0.192879,NaN,NaN,NaN
30,Burkina Faso,0.066173,0.089717,0.115429,0.130385,0.127425,0.125501,0.137283,0.158476,0.179008,NaN,NaN,NaN
81,Guinea-Bissau,0.163177,0.111505,0.151257,0.145619,0.146971,0.145855,0.146811,0.147568,0.146084,NaN,NaN,NaN
134,Mozambique,0.076510,0.073884,0.101189,0.098553,0.106996,0.112476,0.128845,0.121269,0.151850,NaN,NaN,NaN
177,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.121225,0.126461,NaN,NaN,NaN
118,Madagascar,0.082260,0.119013,0.093705,0.094772,0.086416,0.092895,0.106734,0.119581,0.134206,NaN,NaN,NaN
202,Uganda,0.043664,0.060197,0.096346,0.102865,0.105434,0.118253,0.124480,0.115395,0.133853,NaN,NaN,NaN
143,Niger,0.092696,0.062072,0.049726,0.053722,0.061771,0.072026,0.078332,0.105836,0.106861,NaN,NaN,NaN
63,Ethiopia,0.062799,0.053424,0.074345,0.079184,0.077723,0.075215,0.085984,0.092877,0.112463,NaN,NaN,NaN
119,Malawi,0.065085,0.079937,0.069546,0.078854,0.070120,0.080690,0.078027,0.071937,0.078594,NaN,NaN,NaN
161,Rwanda,0.074757,0.065826,0.058789,0.055661,0.057431,0.057354,0.062874,0.068137,0.072161,NaN,NaN,NaN
175,Somalia,0.002900,0.070009,0.068327,0.065851,0.063881,0.063912,0.058707,0.063592,0.060711,NaN,NaN,NaN
37,Central African Republic,0.067403,0.071843,0.060213,0.059112,0.058013,0.059398,0.061509,0.063505,0.063054,NaN,NaN,NaN
122,Mali,0.049717,0.074356,0.073291,0.075282,0.054901,0.063586,0.066826,0.061677,0.061882,NaN,NaN,NaN
38,Chad,0.024619,0.021097,0.042863,0.045756,0.042689,0.043463,0.043830,0.042682,0.046305,NaN,NaN,NaN
44,"Congo, Dem. Rep.",0.116420,0.016943,0.028927,0.029605,0.026937,0.030197,0.036246,0.036414,0.038311,NaN,NaN,NaN
31,Burundi,0.052263,0.042809,0.021964,0.021615,0.020868,0.022480,0.024721,0.027888,0.028030,NaN,NaN,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Eritrea,NaN,0.172191,0.131490,0.092069,0.111761,0.109471,0.124031,NaN,NaN,NaN,NaN,NaN
78,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Isle of Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Sort column values using two columns
sorted2012 = emission.sort_values( by = ['2012','2013'],ascending = [False, True] )
sorted2012

,Country,1990,2000,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
158,Qatar,24.712027,58.522169,53.672746,46.684906,43.504331,41.131162,42.213752,46.697477,40.462355,NaN,NaN,NaN
50,Curacao,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.638551,34.161635,NaN,NaN,NaN
196,Trinidad and Tobago,13.879875,18.844281,36.816763,35.455298,33.952984,36.073741,35.137310,33.819694,34.520237,NaN,NaN,NaN
105,Kuwait,23.466084,27.759023,29.636849,30.581264,30.300789,29.294309,28.102662,29.578729,27.258964,NaN,NaN,NaN
28,Brunei Darussalam,24.105188,14.255144,22.474463,23.950011,20.311171,20.856947,24.272670,23.800884,18.918736,NaN,NaN,NaN
14,Bahrain,25.058198,27.956644,26.001291,26.538479,22.815070,23.101200,22.484702,21.810997,23.682574,NaN,NaN,NaN
171,Sint Maarten (Dutch part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.489636,20.835796,NaN,NaN,NaN
115,Luxembourg,26.197659,18.885512,22.957283,22.385472,20.877125,21.635136,21.102970,20.084219,18.700782,NaN,NaN,NaN
204,United Arab Emirates,28.711160,36.904101,22.566623,22.804551,21.797583,19.306504,18.270092,19.252223,18.708236,NaN,NaN,NaN
165,Saudi Arabia,13.320831,13.880494,14.866777,16.085642,17.102371,18.531173,17.393401,19.188937,17.927485,NaN,NaN,NaN
147,Oman,6.283132,9.777453,16.846640,16.101568,15.963375,17.112061,17.512479,16.699720,15.660423,NaN,NaN,NaN
10,Australia,15.452882,17.200610,17.865260,18.160876,18.200182,16.920954,16.862601,16.519386,16.347302,NaN,NaN,NaN
206,United States,19.323368,20.207615,19.237460,18.489234,17.192367,17.484803,17.019439,16.287053,16.389758,NaN,NaN,NaN
74,Gibraltar,5.329743,12.200541,13.919080,14.137127,15.195251,15.153879,14.636367,14.713776,15.491110,NaN,NaN,NaN
99,Kazakhstan,NaN,7.934854,14.359712,11.879265,10.309399,15.110081,15.650630,14.574160,15.432794,NaN,NaN,NaN
140,New Caledonia,9.269475,10.473212,12.372273,11.849562,12.138518,14.169288,14.364823,14.016718,14.681943,NaN,NaN,NaN
35,Canada,15.659070,17.370452,16.446455,16.215164,14.837315,14.485639,14.481342,13.858455,13.532295,NaN,NaN,NaN
62,Estonia,NaN,10.636252,13.954884,13.081834,10.914320,13.599689,14.016733,13.324000,15.110411,NaN,NaN,NaN
160,Russian Federation,NaN,10.627121,11.672457,12.014507,11.023856,11.725820,12.367534,12.818345,12.466816,NaN,NaN,NaN
9,Aruba,27.850035,25.547679,25.613715,24.750133,24.876706,24.182702,23.922412,12.713613,8.515395,NaN,NaN,NaN
199,Turkmenistan,NaN,8.339388,11.535622,11.556826,10.110661,11.362475,12.256911,12.564208,12.765704,NaN,NaN,NaN
64,Faroe Islands,12.826216,14.828590,14.185395,12.970121,11.842902,12.986678,11.721212,12.199843,12.301292,NaN,NaN,NaN
103,"Korea, Rep.",5.760374,9.520932,10.199582,10.369833,10.346506,11.469587,11.840241,11.680558,11.798150,NaN,NaN,NaN
131,Mongolia,4.573372,3.130988,4.653094,4.578057,4.907974,9.090930,9.997258,11.653855,14.546549,NaN,NaN,NaN
149,Palau,15.553582,5.928706,10.389651,10.333663,10.274233,10.569272,10.855430,10.776980,10.693006,NaN,NaN,NaN
170,Singapore,15.405065,12.166624,4.342606,7.466762,7.422120,8.656224,7.393864,10.282908,9.363847,NaN,NaN,NaN
139,Netherlands,10.594475,10.383090,10.468447,10.541492,10.234971,10.932543,10.327657,10.109168,10.114759,NaN,NaN,NaN
76,Greenland,9.958939,9.461121,11.282079,11.718151,10.221739,11.663773,12.440341,10.005017,10.062939,NaN,NaN,NaN
146,Norway,7.429148,8.834016,9.574850,11.679583,11.461829,12.294955,9.124767,9.940980,11.740324,NaN,NaN,NaN
97,Japan,8.873293,9.622352,9.782964,9.449534,8.619442,9.150005,9.318429,9.639072,9.764393,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Sierra Leone,0.124061,0.104753,0.119034,0.120200,0.115584,0.125706,0.152044,0.170511,0.192879,NaN,NaN,NaN
30,Burkina Faso,0.066173,0.089717,0.115429,0.130385,0.127425,0.125501,0.137283,0.158476,0.179008,NaN,NaN,NaN
81,Guinea-Bissau,0.163177,0.111505,0.151257,0.145619,0.146971,0.145855,0.146811,0.147568,0.146084,NaN,NaN,NaN
134,Mozambique,0.076510,0.073884,0.101189,0.098553,0.106996,0.112476,0.128845,0.121269,0.151850,NaN,NaN,NaN
177,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.121225,0.126461,NaN,NaN,NaN
118,Madagascar,0.082260,0.119013,0.093705,0.094772,0.086416,0.092895,0.106734,0.119581,0.134206,NaN,NaN,NaN
202,Uganda,0.043664,0.060197,0.096346,0.102865,0.105434,0.118253,0.124480,0.115395,0.133853,NaN,NaN,NaN
143,Niger,0.092696,0.062072,0.049726,0.053722,0.061771,0.072026,0.078332,0.105836,0.106861,NaN,NaN,NaN
63,Ethiopia,0.062799,0.053424,0.074345,0.079184,0.077723,0.075215,0.085984,0.092877,0.112463,NaN,NaN,NaN
119,Malawi,0.065085,0.079937,0.069546,0.078854,0.070120,0.080690,0.078027,0.071937,0.078594,NaN,NaN,NaN
161,Rwanda,0.074757,0.065826,0.058789,0.055661,0.057431,0.057354,0.062874,0.068137,0.072161,NaN,NaN,NaN
175,Somalia,0.002900,0.070009,0.068327,0.065851,0.063881,0.063912,0.058707,0.063592,0.060711,NaN,NaN,NaN
37,Central African Republic,0.067403,0.071843,0.060213,0.059112,0.058013,0.059398,0.061509,0.063505,0.063054,NaN,NaN,NaN
122,Mali,0.049717,0.074356,0.073291,0.075282,0.054901,0.063586,0.066826,0.061677,0.061882,NaN,NaN,NaN
38,Chad,0.024619,0.021097,0.042863,0.045756,0.042689,0.043463,0.043830,0.042682,0.046305,NaN,NaN,NaN
44,"Congo, Dem. Rep.",0.116420,0.016943,0.028927,0.029605,0.026937,0.030197,0.036246,0.036414,0.038311,NaN,NaN,NaN
31,Burundi,0.052263,0.042809,0.021964,0.021615,0.020868,0.022480,0.024721,0.027888,0.028030,NaN,NaN,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Eritrea,NaN,0.172191,0.131490,0.092069,0.111761,0.109471,0.124031,NaN,NaN,NaN,NaN,NaN
78,Guam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,Isle of Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Slicing using the .loc and .iloc method
Slicing allows you to take part of your DataFrame.  You can use the .iloc method to select data using row/column numbers, or use .loc to select data using row/column headings.  See [this article](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/) for more examples

In [17]:
# Slicing using a range of rows and range of columns 
emission.iloc[2:5,2:6]

       2000      2007      2008      2009
2  2.819778  3.195865  3.168524  3.430129
3       NaN       NaN       NaN       NaN
4  8.018181  6.350868  6.296125  6.049173

In [18]:
# Slicing using specific rows and specific columns
emission.loc[[3,5],['Country','1990']]

          Country      1990
3  American Samoa       NaN
5          Angola  0.459698

In [19]:
# Specific rows and all columns

emission.loc[[3,5],:]

,Country,1990,2000,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,0.459698,0.633625,1.311096,1.295687,1.354389,1.369339,1.382752,1.472255,1.384496,NaN,NaN,NaN

In [20]:
# All rows and specific columns
emission.loc[:,['Country','1990']]

                      Country       1990
0                 Afghanistan   0.216661
1                     Albania   1.615624
2                     Algeria   3.007911
3              American Samoa        NaN
4                     Andorra        NaN
5                      Angola   0.459698
6         Antigua and Barbuda   4.857267
7                   Argentina   3.440711
8                     Armenia        NaN
9                       Aruba  27.850035
10                  Australia  15.452882
11                    Austria   7.513246
12                 Azerbaijan        NaN
13               Bahamas, The   7.610436
14                    Bahrain  25.058198
15                 Bangladesh   0.146565
16                   Barbados   4.126491
17                    Belarus        NaN
18                    Belgium  10.639672
19                     Belize   1.661912
20                      Benin   0.141510
21                    Bermuda  10.013384
22                     Bhutan   0.239671
23                    Bolivia   0.797982
24     Bosnia and Herzegovina        NaN
25                   Botswana   1.958655
26                     Brazil   1.388940
27     British Virgin Islands   4.010329
28          Brunei Darussalam  24.105188
29                   Bulgaria   8.690224
..                        ...        ...
187                    Sweden   6.069368
188               Switzerland   6.345085
189      Syrian Arab Republic   3.000384
190                Tajikistan        NaN
191                  Tanzania   0.089017
192                  Thailand   1.604832
193               Timor-Leste        NaN
194                      Togo   0.204317
195                     Tonga   0.809305
196       Trinidad and Tobago  13.879875
197                   Tunisia   1.627000
198                    Turkey   2.701355
199              Turkmenistan        NaN
200  Turks and Caicos Islands        NaN
201                    Tuvalu        NaN
202                    Uganda   0.043664
203                   Ukraine        NaN
204      United Arab Emirates  28.711160
205            United Kingdom   9.710882
206             United States  19.323368
207                   Uruguay   1.284045
208                Uzbekistan        NaN
209                   Vanuatu   0.450144
210             Venezuela, RB   6.150573
211                   Vietnam   0.324281
212     Virgin Islands (U.S.)        NaN
213        West Bank and Gaza        NaN
214               Yemen, Rep.   0.802312
215                    Zambia   0.300362
216                  Zimbabwe   1.478723

[217 rows x 2 columns]

### Exercise 2

- Create a DataFrame object that has the name, region and IncomeGroup of the top 10 emitting countries in 2012.

In [21]:
##answer here
df2 = pd.merge(emission['2012'], countries, on = 'Country')
df2.sort_values(by = '2012', ascending = False).head(10)

,Country,2012,Region,IncomeGroup
158,Qatar,46.697477,Middle East & North Africa,High income
50,Curacao,39.638551,Latin America & Caribbean,High income
196,Trinidad and Tobago,33.819694,Latin America & Caribbean,High income
105,Kuwait,29.578729,Middle East & North Africa,High income
28,Brunei Darussalam,23.800884,East Asia & Pacific,High income
14,Bahrain,21.810997,Middle East & North Africa,High income
171,Sint Maarten (Dutch part),21.489636,Latin America & Caribbean,High income
115,Luxembourg,20.084219,Europe & Central Asia,High income
204,United Arab Emirates,19.252223,Middle East & North Africa,High income
165,Saudi Arabia,19.188937,Middle East & North Africa,High income

## Groupby
The Groupby method lets you separate the data into different groups based off shared characteristics.  For example, we could group countries by region or income range and then analyse those groups individually.  The official documentation on groupby can be found [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).  [This tutorial](https://www.marsja.se/python-pandas-groupby-tutorial-examples/) is also well worth reading.

#### Groupby
<img src="files/images/groupby1.jpg">

### Exercise 3

Using Countries data frame, group the rows using the Region column.
* Show the size of each group
* Find the number of high income and low income countries by region

In [23]:
##answer here
grouped = countries.groupby('Region')
grouped
#countries